.blueText {
  color: #2280FB
}

.greenText {
  color: #39DA90
}

.redText {
  color: #FF2424
}


.border {
  border: 1px solid #eaeaea
}

.grayText {
  color: #999999
}
.margin{
  margin: 10px;
}
.router-box{
  padding: 10px;
}
body{
  background-color:#f0f2f5 !important;
}
.router-box .ant-table-pagination{
  padding: 0 20px;
}
.router-box .ant-table-footer{
  background: #fff;
  padding: 10px;
  color: #999999;
}