.table {
  border-collapse: collapse;
  text-align: center
}

.table th,
.table tr {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea
}

.table th {
  background-color: #fafafa
}

.table td {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px
}
